/*==Reset CSS==*/
* {
  margin: 0;
  padding: 0;
}

/*==Style cơ bản cho website==*/
body {
  font-family: sans-serif;
  color: #333;
}

/*==Style cho menu===*/
#menu ul {
  background: #333;
  list-style-type: none;
  text-align: center;
}
#menu li {
  color:pink ;
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin-left: -5px;
}
#menu a {
  text-decoration: none;
  color: #fff;
  display: block;
}
#menu a:hover {
  background: #F1F1F1;
  color: #333;
}
/*==Dropdown Menu==*/
.sub-menu li {
  display: none;
}
#menu li {
 position: relative;
}
.sub-menu {
 display: none;
 position: absolute;
}
#menu li:hover .sub-menu {
 display: block;
}
.sub-menu li {
 margin-left: 0 !important;
}
body {
  font-family: sans-serif;
  color: #333;
}
body{
  background-color: pink;

}
video{
  width: 100%;
  height: auto;
  float: auto}
p{
  font-size: 50px;
font-family:   serif;
  background-color: pink;



}


.anh1 img{
  float: left;
  width: 24%;
  height: 300px;
  margin-right:1%;
}
.anh2 img{
  float: left;
  width: 24%;
  height: 300px;
  margin-right:1%;
}
.anh3 img{
  float: left;
  width: 24%;
  height: 300px;
  margin-right:1%;
}
.anh4 img{
  float: left;
  width: 24%;
  height: 300px;
  margin-right:1%;
}
.anh5 img{
  float: left;
  width: 24%;
  height: 300px;
  margin-right:1%;
  margin-top: 1%;
}
.anh6 img{
  float: left;
  width: 24%;
  height: 300px;
  margin-right:1%;margin-top: 1%;
}
.anh7 img{
  float: left;
  width: 24%;
  height: 300px;
  margin-right:1%;margin-top: 1%;
}
.anh8 img{
  float: left;
  width: 24%;
  height: 300px;
  margin-right:1%;margin-top: 1%;
}
.anh9 img{
  float: left;
  width: 24%;
  height: 300px;
  margin-right:1%;margin-top: 1%;
}
.anh10 img{
  float: left;
  width: 24%;
  height: 300px;
  margin-right:1%;margin-top: 1%;
}
.anh11 img{
  float: left;
  width: 24%;
  height: 300px;
  margin-right:1%;margin-top: 1%;
}
.anh12 img{
  float: left;
  width: 24%;
  height: 300px;
  margin-right:1%;margin-top: 1%;
}
