body {
  font-family: sans-serif;
  color: #333;
}


#menu ul {
  background: #a3a29f;
  list-style-type: none;
  text-align: center;
}
#menu li {
  color:pink ;
  display: inline-block;
  width: 220px;
  height: 80px;
  line-height: 80px;
  margin-left: -5px;
}
#menu a {
  text-decoration: none;
  color: #fff;
  display: block;

}
#menu a:hover {
  background: #F1F1F1;
  color: #333;

}
/*==Dropdown Menu==*/
.sub-menu li {
  display: none;
}
#menu li {
 position: relative;
}
.sub-menu {
 display: none;
 position: absolute;

}
#menu li:hover .sub-menu {
 display: block;
}
.sub-menu li {
 margin-left: 0 !important;
}
body {
  font-family: sans-serif;
  color: #333;
}
body{
  background-color: white;

}
video{
  width: 100%;
  height: auto;
  float: auto}
#tencacdiadiem{
  font-size: 40px;
font-family:   serif;
  background-color: white;
}
.logo img{
  float: left;
  margin-left: 0%;
  height: 80px;
  width: 15%;
}
* {
  margin: 0;
  padding: 0;
}
  #footer div p{
    float:left;
    margin-left: 0%;
    font-size: 20px;
    font-family: sans-serif;
  margin-top: 10%;
    width: 50%;
    background-color: grey;
  }
  #footer div ul{
  float: left;
  margin-right: : 50%;
  font-family: sans-serif;
  width: 50%;
  margin-top: 10%;background-color: grey;
}
#danang1{
  margin-left: 21%;
    font-family:   serif;
      background-color: white;

}
#danangtrangchu{
   margin-left: 10%;
   margin-right: 10%;
}
#tendanang1{
  font-size:50px;

}

.anh1 img {
  float:left;
  width: 23%;
  height: 300px;
  margin-right: 2%;

filter:alpha(opacity=50);

-moz-opacity: 1;

opacity: 1;

-khtml-opacity: 1;
-webkit-transform:scale(0.8);
-moz-transform:scale(0.8);
-o-transform:scale(0.8);
-webkit-transition-duration: 0.5s;
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
opacity: 0.7;
margin: 0 10px 5px 0; }

.anh1:hover img {
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -o-transform:scale(1.1);
  box-shadow:0px 0px 30px gray;
  -webkit-box-shadow:0px 0px 30px gray;
  -moz-box-shadow:0px 0px 30px gray;
  opacity: 1;
filter:alpha(opacity=50);

-moz-opacity: 0.2;

opacity: 0.2;

-khtml-opacity: 0.2; }
.anh2 img {
  float:left;
  width: 23%;
  height: 300px;
  margin-right: 2%;
filter:alpha(opacity=50);

-moz-opacity: 1;

opacity: 1;

-khtml-opacity: 1;
-webkit-transform:scale(0.8);
-moz-transform:scale(0.8);
-o-transform:scale(0.8);
-webkit-transition-duration: 0.5s;
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
opacity: 0.7;
margin: 0 10px 5px 0; }

.anh2:hover img {
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -o-transform:scale(1.1);
  box-shadow:0px 0px 30px gray;
  -webkit-box-shadow:0px 0px 30px gray;
  -moz-box-shadow:0px 0px 30px gray;
  opacity: 1;
filter:alpha(opacity=50);

-moz-opacity: 0.2;

opacity: 0.2;

-khtml-opacity: 0.2; }
.anh3 img {
  float:left;
  width: 23%;
  height: 300px;

filter:alpha(opacity=50);

-moz-opacity: 1;

opacity: 1;

-khtml-opacity: 1;
-webkit-transform:scale(0.8);
-moz-transform:scale(0.8);
-o-transform:scale(0.8);
-webkit-transition-duration: 0.5s;
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
opacity: 0.7;
margin: 0 10px 5px 0; }

.anh3:hover img {
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -o-transform:scale(1.1);
  box-shadow:0px 0px 30px gray;
  -webkit-box-shadow:0px 0px 30px gray;
  -moz-box-shadow:0px 0px 30px gray;
  opacity: 1;
filter:alpha(opacity=50);

-moz-opacity: 0.2;

opacity: 0.2;

-khtml-opacity: 0.2; }
.anh4 img {
  float:left;
  width: 23%;
  height: 300px;

filter:alpha(opacity=50);

-moz-opacity: 1;

opacity: 1;

-khtml-opacity: 1;
-webkit-transform:scale(0.8);
-moz-transform:scale(0.8);
-o-transform:scale(0.8);
-webkit-transition-duration: 0.5s;
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
opacity: 0.7;
margin: 0 10px 5px 0; }

.anh4:hover img {
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -o-transform:scale(1.1);
  box-shadow:0px 0px 30px gray;
  -webkit-box-shadow:0px 0px 30px gray;
  -moz-box-shadow:0px 0px 30px gray;
  opacity: 1;
filter:alpha(opacity=50);

-moz-opacity: 0.2;

opacity: 0.2;

-khtml-opacity: 0.2; }
.anh5 img {
  float:left;
  width: 23%;
  height: 300px;
  margin-right: 2%;margin-top: 2%;
filter:alpha(opacity=50);

-moz-opacity: 1;

opacity: 1;

-khtml-opacity: 1;
-webkit-transform:scale(0.8);
-moz-transform:scale(0.8);
-o-transform:scale(0.8);
-webkit-transition-duration: 0.5s;
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
opacity: 0.7;
margin: 0 10px 5px 0; }

.anh5:hover img {
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -o-transform:scale(1.1);
  box-shadow:0px 0px 30px gray;
  -webkit-box-shadow:0px 0px 30px gray;
  -moz-box-shadow:0px 0px 30px gray;
  opacity: 1;
filter:alpha(opacity=50);

-moz-opacity: 0.2;

opacity: 0.2;

-khtml-opacity: 0.2; }
.anh6 img {
  float:left;
  width: 23%;
  height: 300px;
  margin-right: 2%;margin-top: 2%;margin-top: 2%;
filter:alpha(opacity=50);

-moz-opacity: 1;

opacity: 1;

-khtml-opacity: 1;
-webkit-transform:scale(0.8);
-moz-transform:scale(0.8);
-o-transform:scale(0.8);
-webkit-transition-duration: 0.5s;
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
opacity: 0.7;
margin: 0 10px 5px 0; }

.anh6:hover img {
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -o-transform:scale(1.1);
  box-shadow:0px 0px 30px gray;
  -webkit-box-shadow:0px 0px 30px gray;
  -moz-box-shadow:0px 0px 30px gray;
  opacity: 1;
filter:alpha(opacity=50);

-moz-opacity: 0.2;

opacity: 0.2;

-khtml-opacity: 0.2; }
.anh7 img {
  float:left;
  width: 23%;
  height: 300px;
  margin-right: 2%;margin-top: 2%;
filter:alpha(opacity=50);

-moz-opacity: 1;

opacity: 1;

-khtml-opacity: 1;
-webkit-transform:scale(0.8);
-moz-transform:scale(0.8);
-o-transform:scale(0.8);
-webkit-transition-duration: 0.5s;
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
opacity: 0.7;
margin: 0 10px 5px 0; }

.anh7:hover img {
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -o-transform:scale(1.1);
  box-shadow:0px 0px 30px gray;
  -webkit-box-shadow:0px 0px 30px gray;
  opacity: 1;
filter:alpha(opacity=50);

-moz-opacity: 0.2;

opacity: 0.2;

-khtml-opacity: 0.2; }
.anh8 img {
  float:left;
  width: 23%;
  height: 300px;

  margin-right: 2%;margin-top: 2%;
filter:alpha(opacity=50);

-moz-opacity: 1;

opacity: 1;

-khtml-opacity: 1;
-webkit-transform:scale(0.8);
-moz-transform:scale(0.8);
-o-transform:scale(0.8);
-webkit-transition-duration: 0.5s;
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
opacity: 0.7;
margin: 0 10px 5px 0; }

.anh8:hover img {
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -o-transform:scale(1.1);
  box-shadow:0px 0px 30px gray;
  -webkit-box-shadow:0px 0px 30px gray;
  -moz-box-shadow:0px 0px 30px gray;
  opacity: 1;
filter:alpha(opacity=50);

-moz-opacity: 0.2;

opacity: 0.2;

-khtml-opacity: 0.2; }
.anh9 img {
  float:left;
  width: 23%;
  height: 300px;
  margin-right: 2%;margin-top: 2%;
  filter:alpha(opacity=50);

;margin-top: 2%;
-moz-opacity: 1;

opacity: 1;

-khtml-opacity: 1;
-webkit-transform:scale(0.8);
-moz-transform:scale(0.8);
-o-transform:scale(0.8);
-webkit-transition-duration: 0.5s;
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
opacity: 0.7;
margin: 0 10px 5px 0; }

.anh9:hover img {
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -o-transform:scale(1.1);
  box-shadow:0px 0px 30px gray;
  -webkit-box-shadow:0px 0px 30px gray;
  -moz-box-shadow:0px 0px 30px gray;
  opacity: 1;
filter:alpha(opacity=50);

-moz-opacity: 0.2;

opacity: 0.2;

-khtml-opacity: 0.2; }
.anh10 img {
  float:left;
  width: 23%;
  height: 300px;
  margin-right: 2%;  margin-top: 2%;
filter:alpha(opacity=50);

-moz-opacity: 1;

opacity: 1;

-khtml-opacity: 1;
-webkit-transform:scale(0.8);
-moz-transform:scale(0.8);
-o-transform:scale(0.8);
-webkit-transition-duration: 0.5s;
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
opacity: 0.7;
margin: 0 10px 5px 0; }

.anh10:hover img {
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -o-transform:scale(1.1);
  box-shadow:0px 0px 30px gray;
  -webkit-box-shadow:0px 0px 30px gray;
  -moz-box-shadow:0px 0px 30px gray;
  opacity: 1;
filter:alpha(opacity=50);

-moz-opacity: 0.2;

opacity: 0.2;

-khtml-opacity: 0.2; }
.anh11 img {
  float:left;
  width: 23%;
  height: 300px;
  margin-right: 2%;margin-top: 2%;
filter:alpha(opacity=50);

-moz-opacity: 1;

opacity: 1;

-khtml-opacity: 1;
-webkit-transform:scale(0.8);
-moz-transform:scale(0.8);
-o-transform:scale(0.8);
-webkit-transition-duration: 0.5s;
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
opacity: 0.7;
margin: 0 10px 5px 0; }

.anh11:hover img {
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -o-transform:scale(1.1);
  box-shadow:0px 0px 30px gray;
  -webkit-box-shadow:0px 0px 30px gray;
  -moz-box-shadow:0px 0px 30px gray;
  opacity: 1;
filter:alpha(opacity=50);

-moz-opacity: 0.2;

opacity: 0.2;

-khtml-opacity: 0.2; }
.anh12 img {
  float:left;
  width: 23%;
  height: 300px;
  margin-right: 2%;margin-top: 2%;
filter:alpha(opacity=50);

-moz-opacity: 1;

opacity: 1;

-khtml-opacity: 1;
-webkit-transform:scale(0.8);
-moz-transform:scale(0.8);
-o-transform:scale(0.8);
-webkit-transition-duration: 0.5s;
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
opacity: 0.7;
margin: 0 10px 5px 0; }

.anh12:hover img {
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -o-transform:scale(1.1);
  box-shadow:0px 0px 30px gray;
  -webkit-box-shadow:0px 0px 30px gray;
  -moz-box-shadow:0px 0px 30px gray;
  opacity: 1;
filter:alpha(opacity=50);

-moz-opacity: 0.2;

opacity: 0.2;

-khtml-opacity: 0.2; }
#tenhoian{
  margin-left: 21%;
      font-size: 50px;
    font-family:   serif;
      background-color: white;

}
#hoiantrangchu1{
   margin-left: 10%;
   margin-right: 10%;
}
.anhmocchau img{
  width: 100%;
  height: 500px;
}
.container {
  align:left;
  margin-right;

}
#tennhatrang{
  margin-left: 19%;
      font-size: 50px;
    font-family:   serif;
      background-color: white;


}
#nhatrangtrangchu{
   margin-left: 10%;
   margin-right: 10%;
}
#tenhanoi{
  margin-left: 21%;
      font-size: 50px;
    font-family:   serif;
      background-color: white;


}
#hanoitrangchu{
   margin-left: 10%;
   margin-right: 10%;
}
#tenphuquoc{
  margin-left: 21%;
      font-size: 50px;
    font-family:   serif;
      background-color: white;


}
#phuquoctrangchu{
   margin-left: 10%;
   margin-right: 10%;
}
